extends ../layoutAdmin.jade

block content
	main#adminHomePage
		section.text-center
			.container
				header
					h1 Modifier la page d'accueil
					h2 Modifier la bannière de la page d'accueil:
				div.custom-file
						input(type="file" class="custom-file-input" id="customFile")
						label(class="custom-file-label" for="customFile") Choose file
				form#uploadBanner.text-center(method='POST', enctype='multipart/form-data', action='/admin/api/banner' name='uploadBanner')
					label Type de fichier accepté png | 3mo max.
					br
					input(id='inputBanner' type='file', name='banner', value='', accept='.png')
					br
					button.button.button--pink(type='submit') Envoyer <!-- onSubmit=updloadImg() Envoyer -->
				#popup
				br
				header
					h2 Modifier l'affiche de la programmation du festival
				form#uploadPoster.text-center(method='POST', enctype='multipart/form-data', action='/admin/api/poster' name='uploadPoster')
					label Type de fichier accepté jpg | 1mo max.
					br
					input(id='inputPoster' type='file', name='poster', value='', accept='.jpg')
					br
					button.button.button--pink(type='submit') Envoyer <!-- onSubmit=updloadImg() Envoyer -->
				#popupPoster
				br
				header
					h2 Modifier les images du caroussel
				form#uploadCaroussel.text-center(method='POST', enctype='multipart/form-data', action='/admin/api/caroussel' name='uploadCaroussel')
					label Type de fichier accepté jpg | 1mo max.
					br
					input(id='inputCarousselImage1' type='file', name='imageCaroussel', value='', accept='.jpg' multiple)
					br
					button.button.button--pink(type='submit') Envoyer <!-- onSubmit=updloadImg() Envoyer -->
				#popupCaroussel
				br
				header
					h2 Formulaire d'administration de la bannière d'accueil
				form#uploadBannerText(method='POST', enctype='multipart/form-data', action='/admin/api/homePage/banner' name='uploadBannerText')
					.form-group
						label Nom du festival
						input.form-control#bannerTitle.form-control(type='text', name='bannerTitle', placeholder='Entrez le nom du festival' value=data.title)
					.form-group
						label Slogan du festival
						input.form-control#bannerSlogan.form-control(type='text', name='bannerSlogan', placeholder='Entrez le Slogan du festival' value=data.slogan)
					.form-group
						label Date
						input.form-control#bannerDate.form-control(type='text', name='bannerDate', placeholder='Entrez la date du festival' value=data.date)
					button.button.button--pink(type='submit') Envoyer <!-- onSubmit=updloadImg() Envoyer -->
				#popupBannerText
				br
			
	script(type="text/javascript", src="/javascript/adminHomePage.js")
