extends ../layout.jade

block content
  each Artiste in tableArtistes
    .container
      div
        a.button.button--pink(href="/programmation") Retour
      div
        h1 #{Artiste.nom}
        h2 #{Artiste.jour} - #{Artiste.heure}
        h3 #{Artiste.style}
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-6.presentation
          img.img-fluid(src=Artiste.image)
        .col-xs-12.col-sm-12.col-md-12.col-lg-6
          p #{Artiste.description}
      .row
        .col-md-6.offset-md-3.video
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='100%', height='100%', src='https://www.youtube.com/embed/#{Artiste.video}', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

