extends ../layout.jade

block content
  main#programmation
    .container
      header
        h1.text-center Programmation
      // Filtres
      section.programmation-filters
        .row.filters
          // Tous les artistes
          .programmation-filter-all
            button.butall.button.button--purple Tous les artistes
          .programmation-filter-day
            button.vendredi.button.button--pink Vendredi
            button.samedi.button.button--pink Samedi
            button.dimanche.button.button--pink Dimanche
          .programmation-filter-style
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Style de musique
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
              button.rock.dropdown-item Rock
              button.metal.dropdown-item Metal
              button.pop.dropdown-item Pop
              button.rap.dropdown-item Rap
      // Liste des artistes
      section.programmation-gallery
        each artiste in tableArtistes
          a.programmation-vignette-artiste.ticket-friday.style-rock(href='/programmation/#{artiste.kartiste}')
            .vignette-artiste
              img.img-fluid(src=artiste.image)
            header
              h2 #{artiste.nom}
              p #{artiste.jour} - #{artiste.heure}

  script(type='text/javascript', src='javascript/daySort.js')
  script(type='text/javascript', src='javascript/styleSort.js')
